body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header img {
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 20px;
}

header h1 {
    text-align: center;
    color: #7f8c8d;
    font-size: 25px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.projets {
    display: flex;
    width: 85%;
    margin: 30px auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.projets .projet {
    display: block;
    width: 80%;
    min-height: 100px;
    background: #F26914;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #c4c4c4;
    position: relative;
    transition: background .3s;
}

.projets .projet .validate {
    display: block;
    position: absolute;
    width: 50px;
    right: -15px;
    top: -15px;
    opacity: 1;
    transition: opacity .3s;
}

.projets .projet .titre {
    display: block;
    opacity: 1;
    text-align: center;
    width: 96%;
    color: #ffe1ce;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    transition: opacity .3s;
}

.projets .projet:hover .titre {
    opacity: 0;
}

.projets .projet:hover .validate {
    opacity: 0;
}

.projets .projet:hover {
    background: #e0e0e0;
}

.projets .projet .icon {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    transition: opacity 0.3s;
}

.projets .projet .icon .icon_image {
    width: 80px;
    height: 80px;
    margin: 0;
    display: block;
}

.projets .projet .icon .eye {
    width: 100px;
    height: 100px;
}

.projets .projet:hover .icon {
    opacity: 1;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@media (min-width:900px) {
    .projets .projet {
        width: 60% !important;
    }

    header img {
        width: 15% !important;
    }
}
