body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.compteur {
    width: 100%;
    height: 20px;
    background: #e2e2e2;
    position: fixed;
    top: 0;
    z-index: 50;
}

.compteur div {
    width: 0;
    height: 20px;
    background: #35BE9B;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: width 3.5s;

}

header img {
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 40px;
}

header h1 {
    text-align: center;
    color: #7f8c8d;
    font-size: 25px;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.projets {
    display: flex;
    width: 85%;
    margin: 30px auto;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.projets .projet {
    display: block;
    width: 60%;
    min-height: 100px;
    background: #f2f2f2;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #c4c4c4;
    position: relative;
    transition: background .3s;
    border: 5px solid #d0d0d0;

}

.validate_p {
    background-color: #35BE9B !important;
    border-color: #35BE9B !important;
    color: white !important;
}

.validate_p:hover {
    border: 5px solid #35BE9B !important;
    background-color: #e0e0e0 !important;

}

.validate_p .titre {
    color: white !important;
}

.projets .projet .validate {
    display: none;
    position: absolute;
    width: 50px;
    right: -20px;
    top: -20px;
    opacity: 1;
    transition: opacity .3s;
}

/**
.projets .projet:before{
    content : '';
    width : 30px;
    height : 30px;
    position:absolute;
    top:-15px;
    left:-15px;
    background:url("../img/not_validate.png") no-repeat center ;
    background-size:cover;
    
} **/

.projets .projet .titre {
    display: block;
    opacity: 1;
    text-align: center;
    width: 96%;
    color: #797979;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    transition: opacity .3s;
}

.projets .projet:hover .titre {
    opacity: 0;
}

.projets .projet:hover .validate {
    opacity: 0;
}

.projets .projet:hover {
    background: #fff !important;
}

.projets .projet .icon {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    transition: opacity 0.3s;
}

.projets .projet .icon .icon_image {
    width: 80px;
    height: 80px;
    margin: 0;
    display: block;
}

.projets .projet .icon .eye {
    width: 100px;
    height: 100px;
}

.projets .projet:hover .icon {
    opacity: 1;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@media (min-width:900px) {
    .projets .projet {
        width: 60% !important;
    }

    header img {
        width: 15% !important;
    }
}
